.DS_Store
Pods/
screenshot.xcodeproj/project.xcworkspace/
screenshot.xcodeproj/xcuserdata/
screenshot.xcworkspace/xcuserdata/
screenshot/.DS_Store
screenshot.app.dSYM.zip
screenshot.ipa

# fastlane specific
fastlane/report.xml
fastlane/README.md
fastlane/Appfile

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
