.DS_Store
Pods/
Screenshop.xcodeproj/project.xcworkspace/
Screenshop.xcodeproj/xcuserdata/
Screenshop.xcworkspace/xcuserdata/
#Screenshop.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
screenshot/.DS_Store
Screenshop.app.dSYM.zip
Screenshop.ipa

# fastlane specific
fastlane/report.xml
fastlane/README.md
fastlane/Appfile

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
